<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome? Results</h2>

    <p>str = <%= @str %></p>
    <p>str is <%= @msg %>a palindrome</p>
  </div>
</div>
